.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.header-left h1{
    color:white;
    margin:0;
    font-size:34px;
}

.header-left p{
    color:#94a3b8;
    margin-top:8px;
}

.header-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.icon-box{
    width:48px;
    height:48px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(255,255,255,.08);
    border-radius:14px;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.icon-box:hover{
    background:#6366f1;
    transform:translateY(-3px);
}

.profile{
    display:flex;
    align-items:center;
    gap:12px;
    background:rgba(255,255,255,.08);
    padding:10px 16px;
    border-radius:16px;
    color:white;
}

.profile h4{
    margin:0;
    font-size:15px;
}

.profile span{
    font-size:12px;
    color:#cbd5e1;
}