body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0f172a;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.login-card h1 {
  text-align: center;
  color: #2563eb;
  margin-bottom: 10px;
}

.login-card h2 {
  text-align: center;
  color: #111827;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  box-sizing: border-box;

  font-size: 16px;

  background: white;
  color: black;
  caret-color: black;

  outline: none;
}

.login-card input::placeholder {
  color: #6b7280;
}

.login-card input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.login-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #1d4ed8;
}

.login-card p {
  text-align: center;
  margin-top: 20px;
  color: #374151;
}

.login-card a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}

.login-card a:hover {
  text-decoration: underline;
}