.stats-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:20px;

    margin-bottom:35px;

}

.stats-card{

    background:#1e293b;

    border-radius:18px;

    padding:22px;

    display:flex;

    align-items:center;

    gap:18px;

    transition:.35s;

    cursor:pointer;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.stats-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.stats-icon{

    width:60px;

    height:60px;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:26px;

}

.stats-card h3{

    color:white;

    font-size:28px;

}

.stats-card p{

    color:#94a3b8;

    margin-top:6px;

}