:root{

  --bg:#0f172a;
  --surface:#1e293b;
  --surface-light:#334155;

  --primary:#6366f1;
  --primary-hover:#4f46e5;

  --success:#22c55e;
  --warning:#f59e0b;
  --danger:#ef4444;
  --info:#3b82f6;

  --text:#ffffff;
  --text-light:#cbd5e1;

  --border:rgba(255,255,255,.08);

  --radius:18px;

  --shadow:
  0 10px 30px rgba(0,0,0,.25);

}